<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/simplewall2.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Wall</title>
</head>

<body class="back">
    <div class="container">
        <h1 class="text-center">Flask Messanger<form action="/logout"><input class="btn btn-light"
                    type="submit" value="Log Out"></form>
        </h1>
        <div class="col-sm-6">
            <div class="testimonial testimonial-default">
                <div class="testimonial-section">

                    <form action="/simplewallmessages" method="post">
                        <select name="receiver_id">
                            {%for i in usersidlist%}
                            <option class="option" value="{{i['id']}}">{{i['first_name']}}</option>
                            {%endfor%}
                        </select>
                        <textarea class="form-control" name="textarea"></textarea>
                        <input type="submit" class="btn btn-primary" value="Send">
                    </form>
                </div>
                <div class="testimonial-desc">
                    <img src="../static/img/tra.png" alt="tra.png" />
                    <div class="testimonial-writer">
                        {%for i in infoforuser%}
                        <div class="testimonial-writer-name">{{i['full_name']}}</div>
                        <div class="testimonial-writer-designation">{{i['email']}}</div>
                        <a href="#" class="testimonial-writer-company">{{i['telephone']}}</a>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper-scroll-y">
            {%for i in messages%}
            <div class="col-sm-6">
                <div class="testimonial testimonial-primary">
                    <div class="testimonial-writer-designation"><input type="hidden" name="timesincepost"
                            value="{{i['created_at']}}"></div>
                    <div class="testimonial-section">
                        {{i['message']}}
                    </div>
                    <div class="testimonial-desc">
                        <img src="../static/img/rei3.png" alt="rei3" />
                        <div class="testimonial-writer">
                            <div class="testimonial-writer-name">{{i['full_name']}}</div>
                            <div class="testimonial-writer-designation">{{i['username']}}</div>
                            <div class="testimonial-writer-designation">{{i['email']}}</div>
                            <a href="#" class="testimonial-writer-company">{{i['telephone']}}</a>
                            <form action="/delete" method="post">
                                <input type="submit" class="btn btn-danger" value="Delete">
                                <input type="hidden" name="deletion" value="{{i['messages.id']}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>