<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/simplewall.css')}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/simplewall.js')}}"></script>
    <title>log in</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form action="/createaccount" method="post" class="register-form">

                <input class="{{category}}" type="text" name="firstname" placeholder="First Name">

                <input class="{{category}}" type="text" name="lastname" placeholder="Last Name">

                <input class="{{category}}" type="text" name="username" placeholder="User Name">

                <input class="{{category}}" type="password" name="password" placeholder="Password">

                <input class="{{category}}" type="password" name="confirmpassword" placeholder="Confirm Password">

                <input class="{{category}}" type="text" name="email" placeholder="Email">

                <input class="{{category}}" type="text" name="telephone" placeholder="Telephone Number">
                <input class="{{category}}" type="text" name="address" placeholder="Address">
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            
            <form action="/login" method="post" class="login-form">

                <input class="{{category}}" type="text" name="loginusername" placeholder="User Name">

                <input class="{{category}}" type="password" name="loginpassword" placeholder="Password">
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
</body>

</html>